/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	background:white;
}

#footer{
	height: 60px;
	margin-bottom: 50px;
	margin-top: 50px;
}

#products_box{
	width:780px;
	text-align:center;
	margin-left: 30px;
	margin-bottom: 10px;
}


#single_product{
	float:right;
	padding: 10px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 740px;
    float: right;
  
}
.button {
   border: 4px solid #addbd7;
   background: #addbd7;
   background: -webkit-gradient(linear, left top, left bottom, from(#addbd7), to(#addbd7));
   background: -webkit-linear-gradient(top, #addbd7, #addbd7);
   background: -moz-linear-gradient(top, #addbd7, #addbd7);
   background: -ms-linear-gradient(top, #addbd7, #addbd7);
   background: -o-linear-gradient(top, #addbd7, #addbd7);
   background-image: -ms-linear-gradient(top, #addbd7 0%, #addbd7 100%);
   padding: 6px 12px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #000000;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 4px solid #0f524b;
   text-shadow: #1e4158 0 1px 0;
   background: #0f524b;
   background: -webkit-gradient(linear, left top, left bottom, from(#0f524b), to(#0f524b));
   background: -webkit-linear-gradient(top, #0f524b, #0f524b);
   background: -moz-linear-gradient(top, #0f524b, #0f524b);
   background: -ms-linear-gradient(top, #0f524b, #0f524b);
   background: -o-linear-gradient(top, #0f524b, #0f524b);
   background-image: -ms-linear-gradient(top, #0f524b 0%, #0f524b 100%);
   color: #000000;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 4px solid #addbd7;
   background: #addbd7;
   background: -webkit-gradient(linear, left top, left bottom, from(#addbd7), to(#0f524b));
   background: -webkit-linear-gradient(top, #addbd7, #addbd7);
   background: -moz-linear-gradient(top, #addbd7, #addbd7);
   background: -ms-linear-gradient(top, #addbd7, #addbd7);
   background: -o-linear-gradient(top, #addbd7, #addbd7);
   background-image: -ms-linear-gradient(top, #addbd7 0%, #addbd7 100%);
   color: #030303;
   }

table {
    border-collapse: separate;
    border-spacing: 0 1em;
}




